01_fastQC/out
02_kallisto_index/out
03_kallisto_quant/out
05_tx2gene/out
06_bulkAnalysis/01_GeneralOverviewAnalysis/01_QualityControl/out
06_bulkAnalysis/01_GeneralOverviewAnalysis/02_GlobalExpressionPatterns/out
06_bulkAnalysis/01_GeneralOverviewAnalysis/02_GlobalExpressionPatterns/plot
06_bulkAnalysis/01_GeneralOverviewAnalysis/03_DifferentialExpression/out
06_bulkAnalysis/01_GeneralOverviewAnalysis/03_DifferentialExpression/plot
06_bulkAnalysis/01_GeneralOverviewAnalysis/04_TopDEGs/out
06_bulkAnalysis/01_GeneralOverviewAnalysis/04_TopDEGs/plot
06_bulkAnalysis/02_CytokineSynergyAnalysis/plot
06_bulkAnalysis/03_ImmunomodulatoryGeneSignatureFocus/out
06_bulkAnalysis/03_ImmunomodulatoryGeneSignatureFocus/plot

